extends layout.pug

block content
        h1 Bienvenue
        div(class="line")
            div(class="b25")
                div(class="block padding2") test

            div(class="b25")
                div(class="block padding2") test

            div(class="b25")
                div(class="block padding2") test

            div(class="b25")
                div(class="block padding2") test

        div(class="line")
            div(class="b50")
                div(class="block padding2 green checked")
                    svg(version="1.1" class="check ico_anime" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve")
                        polyline(fill="none" class="structure" points="40,250 200,400 475,105")
            div(class="b50")
                div(class="block padding2") test


        div(class="line")
            div(class="b100")
                div(class="block padding2")
                    h2(class="header_line") Block header 2
                    div(class="b50")
                        label Label
                        input(type="text" placeholder="Placeholder")
                        label Label
                        input(type="password" placeholder="Placeholder")
                        label Label
                        textarea(placeholder="Placeholder")
                        label Label

                        div(class="center")
                            br
                            button Button
                    div(class="b50")
                        h3(class="left text_grey") The standard Lorem Ipsum passage, used since the 1500s
